/**
 * Modified from http://galjot.si/talks/front-end-h8%23f00/css/theme/celtra.css
 */

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Colors */
.red   { color: #d20b12; }
.reveal .white { color: #ffffff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal {
    font-family: "open_sansregular", "Helvetica", sans-serif;
    font-size: 36px;
    font-weight: 200;
    color: #2a2a2a;
}

.reveal strong {
    font-weight: normal;
    font-family: "open_sanssemibold", "Helvetica", sans-serif;
}

.reveal em {
    font-style: italic;
}

::selection {
  color: white;
  background: #d20b12;
  text-shadow: none; }

/*********************************************
 * VIEW FRAGMENTS
 *********************************************/
 .reveal .slides section .fragment.strike {
  opacity: 1;
  visibility: visible; }

.reveal .slides section .fragment.strike.visible {
  text-decoration: line-through;
  opacity: 0.3;}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #2a2a2a;
  font-family: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
  letter-spacing: 0;
  font-weight: normal;
}

.front-title h1, .front-title .intro { color: #ffffff; }
.front-title h1, .front-title h3 { text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }
.front-title .intro { background-color: #d20b12; padding: 0.2em 0.5em; display: inline-block; }
.front-title .october { font-family: "open_sanslight"; position: relative; top: -15px; font-size: 0.65em; color: white; background-color: rgba(0, 0, 0, 0.3); padding: 0.2em 0.5em; display: inline; }

.reveal h1 { font-size: 2.8em; }
.reveal h2 { font-size: 1.8em; margin: 0.4em 0 0.8em 0; }

.reveal h1, .reveal h2 { font-family: 'open_sanslight'; }

.reveal h3 { font-size: 1.5em; }
.reveal h3.intro { font-size: 0.60em; }

/* Extra */
.img-photo-portrait {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px);
    border: 10px solid #2f2f2f;

    -webkit-transform : rotate(7deg);
        -ms-transform : rotate(7deg);
           transform  : rotate(7deg);
}

.img-photo-portrait-left {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px);
    top: -20px;
    position: relative;
    border: 10px solid #2f2f2f;

    -webkit-transform : rotate(-11deg);
        -ms-transform : rotate(-11deg);
           transform  : rotate(-11deg);   
}

ul.celtra-desc { vertical-align: bottom; }

.reveal p.adcreator-tagline { font-size: 0.63em; font-style: italic; }

ul.multiple {
    width   : 100%;
    display : block;
    -webkit-column-count : 2; /* Safari and Chrome */
       -moz-column-count : 2; /* Firefox */
            column-count : 2;
}

.multiple li { font-size : 0.8em; }

.definitions dt, .definitions dd { display: block; float: left; }
.definitions dt:after { position: relative; width: 10px; height: 10px; content: " â€” "; }
.definitions dt { clear: left; }
.definitions dd { padding-left: .7em; font-size: 0.8em; }
.definitions sup { font-size: 0.5em; }

.reveal .app-example { background: rgba(0, 0, 0, 0.7); padding: 1.5em 0em; }

.proscons {
    text-align: left;
    padding-left: 40px;
}
.pros, .cons { font-family: "open_sanssemibold"; }
.pros { color: #276d27; }
.cons { color: #dd3940; }

.vimeo {
    position: relative;
    top: -30px;
    margin: 0;
    padding: 0;
}

.my-name { font-family: "Impact"; }

.twitter-tweet { margin: 0 auto !important; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #428BCA;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #2a6496;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #0d99a5; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  /*margin: 15px 0px;*/
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #1b1b1b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #13daec;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #dd3940; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #dd3940; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #dd3940; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #dd3940; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #dd3940; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #dd3940; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #dd3940; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #dd3940; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #d20b12;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * LAYOUT
 *********************************************/
.half {
  width: 45%;
}
.half.left {
  float: left;
  padding-right: 5%;
}
.half.right {
  float: right;
  padding-left: 5%;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
/*********************************************
 * FONTS
 *********************************************/
.reveal small {
  display: inline;
  font-size: 0.8em;
  line-height: 1.2em;
  vertical-align: middle;
  letter-spacing: 0.03em;
}
.darker {
  opacity: 0.5;
}
.reveal p {
  font-size: 0.8em;
}
.reveal p.top-margin {
  margin-top: 3em;
}
.reveal ul {
  list-style: none;
  margin: 0;
}
.reveal ul.small {
  font-size: 0.6em;
  line-height: 0.5em;
}
.reveal ul.small li {
  line-height: 1.3em;
  margin-bottom: 0.7em;
}
.reveal ul li {
    /*letter-spacing    : 0.03em;*/
    /*line-height         : 1.5em;*/
    padding-left        : 1.5em;
    margin-bottom       : 1em;
}
.reveal .bullet li {
    background          : url(../img/bullet.png) left center no-repeat;
    background-size     : 1em;
    background-position : left 12px;
    line-height         : 1.5em;
    padding-left        : 1.5em;
    text-align          : left;
    margin-bottom       : 0;
}
.reveal ul ul {
  font-size: 0.8em;
  opacity: 0.7;
  list-style: none;
}
  .reveal ul ul li {
    line-height: 1.2em;
    background-size: 0.8em;
    padding-left: 1.2em;
  }
.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}
.reveal pre code {
  font-size: 1.7em;
  line-height: 1.3em;
  padding: 1em;
}

/*********************************************
 * TABLES
 *********************************************/
.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }


 
/*********************************************
 * FOOTER
 *********************************************/
 footer {
  position: absolute;
  bottom: 2em;
  left: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: 0.3em !important;
  opacity: 0.3;
  z-index: 1;
 }